<ion-view cache-view="false" class="menu-page">
  <ion-nav-title>Projeto {{projeto.descricao}}</ion-nav-title>
  <ion-content>
    <div class="disabled">
       <button class="button button-positive" ng-click="getIndicadores()">
         Indicadores
       </button>
      <button class="button button-positive">
        Não Conformidades
      </button>
    </div>

    <div class="list" ng-if="dados.resp">
      <div class="row">
        <div class="col"><b>Sigla</b></div>
        <div class="col"><b>Descrição</b></div>
        <div class="col"><b>Valor</b></div>
        <div class="col"><b>Faixa</b></div>
        <div class="col"><b>Situação</b></div>
      </div>
      <div class="row" ng:repeat="i in dados.resp">
        <div class="col">{{i.sigla}}</div>
        <div class="col">{{i.descricao}}</div>
        <div class="col">{{i.valor}}</div>
        <div class="col">{{i.faixa}}</div>
        <div class="col">{{i.situacao}}</div>
      </div>
    </div>

  </ion-content>
</ion-view>
